.ghc.environment.*
/.cabal-sandbox/*
/cabal.sandbox.config
cabal.project.local
cabal.project.local~
*.chi
*.chs.h
/dist-newstyle
/dist/*
*.hi
/issues/*
*.o
/.shelly/*.txt
/tests/bugs
/tests/system
abcBridge*
alsa-mixer*
cuda*
cufft*
gnome-keyring*
gnuidn*
haskell-mpi*
hnetcdf*
hpuz*
hsndfile*
hsshellscript*
igraph*
libssh2*
