/.shelly/*.txt
/issues/*
/tests/bugs/call_capital/Capital
/tests/bugs/call_capital/Capital.chi
/tests/bugs/call_capital/Capital.chs.h
/tests/bugs/call_capital/Capital.hi
/tests/bugs/call_capital/Capital.o
/tests/bugs/call_capital/Capital.hs
/tests/bugs/call_capital/Capital_c.o
*.chi
*.chs.h
*.hi
*.o
/tests/system/calls/Calls.hs
/tests/system/cpp/Cpp.hs
/tests/system/enums/Enums.hs
/tests/system/enums/enums
/tests/system/marsh/Marsh.hs
/tests/system/marsh/marsh
/tests/system/pointer/Pointer.hs
/tests/system/simple/Simple.hs
/tests/system/simple/simple
/tests/system/sizeof/Sizeof.hs
/tests/system/sizeof/sizeof
/tests/system/structs/Structs.hs
/tests/system/structs/structs
/tests/bugs/issue-47/Issue47.hs
/tests/bugs/issue-47/Issue47
/tests/bugs/issue-30/Issue30.hs
/tests/bugs/issue-30/Issue30Aux1.hs
/tests/bugs/issue-30/Issue30Aux2.hs
/tests/bugs/issue-30/Issue30
/tests/bugs/issue-22/Issue22
/tests/bugs/issue-22/Issue22.hs
/tests/system/pointer/pointer
/tests/bugs/issue-45/Issue45.hs
/tests/bugs/issue-45/Issue45
/tests/bugs/issue-44/Issue44
/tests/bugs/issue-44/Issue44.hs
/tests/bugs/issue-43/Issue43
/tests/bugs/issue-43/Issue43.hs
